/* LIST */

.list-title-home{
    text-align: center;
}

.new-item-container,
.list{
    margin: 10px;
    background-color: #dcdad6;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px #000000a9;
}

/* ADMIN LIST ITEM */

.list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.list-item{
    display: flex;
    align-items: center;
}

.list-item-items{
    background-color: #c8c5c5;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.list-title{
    background-color: white;
    padding: 5px 20px;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 1px 1px 5px #000000a9;
    margin-right: 10px;
}

.list-item span{
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 20px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 1px 1px 2px #000000a9;
    width: 80px;
    text-align: center;
}

.list-header>.list-header-image{
    width: 200px;
}

.list-item img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.list-header-container{
    display: flex;
}

.list-item-container{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 50px;
    height: 30px;
    align-items: center;
    box-shadow: 1px 1px 2px #000000a9;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    width: 100px;
}

.list-item-display{
    width: 15px;
    height: 15px;
    border-radius: 50px;
}

.list-item-container span{
    padding: 0;
    height: initial;
    box-shadow: none;
    width: 70px;
}

.list-item-clothes .create-btn-top{
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.create-btn-top{
    filter: invert(16%) sepia(100%) saturate(5930%) hue-rotate(357deg) brightness(92%) contrast(120%);
}