@media (max-width: 1250px){
    .list-item span{
        font-size: 12px;
        margin: 2px;
       
    }
    
    .list-item .input-select,
    .list-item .btn{
        font-size: 12px;
    }

    .list-item .btn{
        min-width: 20px;
    }

    .list-item .list-item-id,
    .list-item .list-item-size{
        width: 10px;
    }
    
    /* Create */

    .image-control .file-input{
        width: 89px;
    }

    .new-clothing-container .btn{
        font-size: 12px;
    }

    .list-item img{
        width: 80px;
    }

    .list-item-clothes .btn{
        display: none;
    }

    .list-item-clothes .create-btn-top{
        display: block;
    }
}

@media (max-width: 1200px){
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 970px){
    .card-container{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .list-header.myOrder-header-status{
        width: 50px;
    }

    .list-item .input-select{
        width: 70px;
    }
}

@media (max-width: 950px){
    .list-item .myOrder-color-container{
        font-size: 12px;
        margin: 2px;
        width: 14px;
    }

    .list-item .color-container-second{
        display: flex;
        width: 55px;
        justify-content: center;
    }

    .list-header.myOrder-header-color{
        width: 10px;
        display: flex;
        justify-content: center;
    }

    .list-item .myOrder-color-container span{
        display: none;
    }

    .list-header.myOrder-header-type{
        display: none;
    }

    .list-header.myOrder-header-type-second{
        display: block;
        width: 30px;
    }

    .list-item .myOrder-type{
        width: 30px;
    }
}

@media (max-width: 650px){
    .card-container{
        grid-template-columns: 1fr;
        
    }

    .list-item .color-container-second{
        display: none;
    }

    .list-item .myOrder-color-container{
        font-size: 12px;
        margin: 2px;
        width: 14px;
    }

    .myOrder-comment,
    .list-item .myOrder-color-container,
    .list-item .myOrder-size,
    .list-item .myOrder-header-size,
    .list-header.list-header-comment,
    .list-header.myOrder-header-color{
        display: none;
    }
}