@import url('./Styles/Login.css');
@import url('./Styles/Pagination.css');
@import url('./Styles/Home.css');
@import url('./Styles/List.css');
@import url('./Styles/Order.css');
@import url('./Styles/Modal.css');
@import url('./Styles/Inputs.css');
@import url('./Styles/Filter.css');
@import url('./Styles/Responsive.css');
@import url('./Styles/Comment.css');

.App-header{
    display: flex;
    flex-direction: column;
}

/* NAV */

nav{
    background-color: #aaa7a0;
    margin: 0 10px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
}

.nav-control a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 10px;
}

.nav-link.active{
    color: white;
}

hr{
    background-color: #0000008d;
    height: 1px;
    width: 100%;
    
}